<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- PSX URL -->
		<add key="PSX-URL-Path" value="https://www.psx.com.pk/market-summary/"/>
		<!-- File Path to Save File -->
		<add key="FilePath" value="D:/Summary-PSX-k173613-Q1.html"/>

		<!-- Log File For Errors -->
		<add key="Log-File" value="D:/Log-File.txt"/>
	</appSettings>
</configuration>