<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Dir Path you want to save files -->
		<add key="DirPath" value="D:\All-PSX-Records\"/>
		<!-- HTML PSX File Path -->
		<add key="FilePath" value="D:\Summary-PSX-k173613-Q1.html"/>
	</appSettings>
</configuration>