<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- New Dir Path you want to save old folders -->
		<add key="PastRecordsPath" value="D:\Old-All-PSX-Records\"/>
		<!-- Old Dir Path from where to get folders -->
		<add key="FreshRecordsPath" value="D:\All-PSX-Records\"/>

		<add key="DirPath" value="D:\All-PSX-Records\"/>
	</appSettings>
</configuration>